* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

.title {
    color: #202020;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style: none;
}

button {
    border: none;
    border-radius: 5px;
    background: #5528FF;
    ;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 700;
    padding: 4.5px 15px;
}

ul {
    color: #202020;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 700;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 19%;

}

.img-conteiner {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 37px;
}

.footer-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7% 19% 3% 18%;
}

.logo-block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.main-conteiner {
    width: 62%;
    margin: auto;
}

h2 {
    color: #202020;
    font-family: Ubuntu;
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #202020;
}

.main-conteiner p {
    color: #4F4F4F;
    font-family: Ubuntu;
    font-size: 27px;
    font-weight: 400;
    line-height: 160.86%;
    width: 62%;
    margin-bottom: 70px;
}

.main-conteiner button {

    border-radius: 10px;
    background: #5528FF;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 400;
    padding: 16px 58px;
}

.thin-line {
    margin: 100px 0;
    height: 0.2px;
    background-color:#d6d6d6;
    position: relative;
}

.thin-line::before {
    content: attr(data-text);
    top: -10px;
    left: 16.5%;
    position: absolute;
    background: #ffffff;
    color: #C2C2C2;
    padding: 0 20px;
}

.services-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 19%;
    gap: 67px;
}

.services-conteiner>div {
    display: flex;
    align-items: center;
    width: 450px;
}

h3 {
    color: #000;
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 400;
    width: 267px;
    height: 33px;
    margin-bottom: 17px;

}

.block1 p {
    color: #B2B2B2;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    width: 292px;
    height: 61px;
}

.block2 p {
    color: #B2B2B2;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    width: 290px;
    height: 61px;
}

.block3 p {
    color: #B2B2B2;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    width: 309px;
    height: 61px;
}

.block4 p {
    color: #B2B2B2;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    width: 247px;
    height: 61px;
}

.block1 img {
    margin-right: 67px;
}

.block2 img {
    margin-right: 44px;
}

.block3 img {
    margin-right: 48px;
}

.block4 img {
    margin-right: 64px;
}

.block3 {
    margin-left: -25px;
}

.block4 {
    margin-right: -20px;
}

.clients-conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 67px 106px;
    margin: 0 19%;
}

.clients-conteiner img {
    width: 173px;
    height: 58px;
    object-fit: contain;
}

.team-conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0 19%;
}

.img-team img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.team-conteiner div {
    display: flex;
    width: 280px;
    height: 100px;
}

.text-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-team h4 {
    color: #202020;
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 700;
}

.text-team p {
    color: #B2B2B2;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
}