* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    display: flex;
    background-color: #151718;
    height: 90px;
    align-items: center;
    width: 100%;
}

.logo-img {
    height: 40px;
    width: 40px;
    margin: 0 1.6rem 0 2.4rem;
}

h2 {
    color: #ffffff;
    font-weight: 700;
    padding-right: 46.5%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.menu {
    gap: 3.2rem;
}

.switch {
    position: relative;
    display: inline-block;
    min-width: 75px;
    height: 34px;
    margin-left: 8%;
    margin-right: 4%;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B0B0B0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "☀️";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
}

input:checked+.slider {
    background-color: #414344;
}

input:checked+.slider:before {
    content: "🌙";
    left: 44px;
    background-color: blue;
    color: white;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h3 {
    color: #ffffff;
}

.arrow-down-img {
    background-image: url(media/arrow-down-s-line.svg);
    margin-left: 12px;
    width: 18px;
    aspect-ratio: 1;
}

.main-section {
    display: flex;
    width: 100%;
}

.bear {
    width: 50%;
}

#bear-img {
    width: 100%;
    object-fit: cover;
    height: 1024px;
}

.main-conteiner {
    width: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.form-block {
    display: flex;
    flex-direction: column;
    margin: 103px 19%;
    width: 62%;
    border-radius: 10px;
    background-color: #2D2F30;
}

.header-block {
    margin: 24px 42px 0 42px;
    padding-bottom: 17px;
    border-bottom: 1px solid black;
}

.header-block div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 19px;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    color: white;
}

p {
    color: #F6F6F6;
    font-size: 14px;
    margin-top: 17px;
    color: white;
}

.input-block {
    margin: 5px 41px;
    display: flex;
    flex-direction: column;
}

label {
    color: #B0B0B0;
    margin-bottom: 22px;
    margin-top: 19px;
    cursor: pointer;
}

.input {
    height: 60px;
    border-radius: 4px;
    background: #414344;
    border: none;
    color: #B0B0B0;
    padding: 22px 23px 19px 23px;
}

.input::placeholder {
    color: black;
}

.checkbox-block {
    display: flex;
    margin: 23px 42px;
    justify-content: space-between;
    align-items: center;
}

.checkbox-btn {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #B0B0B0;
    outline: none;
    border: 2px solid #B0B0B0;
    margin-right: 10px;
    position: relative;
}

.checkbox-btn:checked::after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: -4px;
    left: 2px;
    color: #2D2F30;
}

.checkbox-label {
    display: flex;
    align-items: center;
}


.gray-text {
    color: #B0B0B0;
}

.blue-text {
    color: #2D76E2;
    text-decoration: underline;
}

.btn {
    margin: 0 42px 60px 42px;
    height: 60px;
    border-radius: 4px;
    background: #2D76E2;
    border: none;
    cursor: pointer;
    color: #FCFCFC;
    font-family: Inter;
    font-weight: 700;
    transition: background 0.5s ease;
}

.btn:hover {
    background: radial-gradient(circle at center, #0A55C6, #2D2F30);
}

.facebook {
    background-image: url(media/facebook.svg);
    width: 20px;
    aspect-ratio: 1;
}

.twitter {
    background-image: url(media/twitter.svg);
    width: 20px;
    aspect-ratio: 1;
}

.google {
    background-image: url(media/google.svg);
    width: 20px;
    aspect-ratio: 1;
}


.lightMode .input {
    background: #ffffff;
    border: 1px solid #E3E1E1;
    color: #414344;
}

.lightMode h1 {
    color: black;
}

.lightMode p {
    color: #676767;
}

.lightMode .main-conteiner {
    background: #FBFAFA;
}

.lightMode .form-block {
    background-color: white;
}

.lightMode .header-block {
    border-bottom: 1px solid #E3E1E1;
}

.lightMode .input::placeholder {
    color: #E3E1E1;
}

.lightMode label {
    color: #414344;
}

.lightMode .facebook {
    background-image: url('media/facebook-black.png');
}

.lightMode .twitter {
    background-image: url('media/twitter-black.svg');
}

.lightMode .google {
    background-image: url('media/google-black.svg');
}

.lightMode .btn:hover {
    background-image: radial-gradient(circle at center, #0A55C6, #ffffff);
}

.lightMode header {
    background-color: #ffffff;
}

.lightMode h2,
.lightMode h3,
.lightMode a {
    color: #2D2F30;
}

.lightMode input:checked+.slider {
    background-color: #e3e3e3;
}

.lightMode input:checked+.slider:before {
    background-color: #414344;
}

.lightMode .arrow-down-img {
    background-image: url(media/arrow-down-white.svg);
    width: 13px;
    height: 8px;
}

.lightMode .checkbox-btn:checked::after {
    color: #ffffff
}