* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}


.firstConteiner {
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.firstConteiner h1 {
    padding: 0 28% 15px 28%;
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.text-item {
    color: #FFF;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.divConteiner {
    min-height: 40%;
    width: 58%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.white-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.white-box p:nth-child(1) {
    color: #F7654A;
    text-align: center;
    font-size: 72px;
    font-weight: 500;

}

.white-box p:nth-child(2) {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
}

.white-box p:nth-child(3) {
    color: #999;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

h2 {
    color: #404149;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 60px;
}

.progect-conteiner {
    display: flex;
    justify-content: center;
    margin-bottom: 190px;
    padding: 0 21%;
    gap: 30px;
}

.progect-block div {
    width: 55px;
    height: 6px;
    background: #F7654A;
    font-weight: 500;
    margin: 45px 0 15px 0;
}

.progect-block img {
    width: 100%;
    height: auto;
}

h3 {
    color: #404149;
    font-size: 24px;
}

.progect-block p {
    color: #999;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.red-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 181px;
    background: #F7654A;
    margin-bottom: 150px;
    padding: 0 21%;
}

.text-div {
    margin: 30px 0 40px 0;
}

.text-div p:nth-child(1) {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.96px;
    margin-bottom: 10px;
}

.text-div p:nth-child(2) {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
}

.red-conteiner button {
    padding: 14px 46px;
    color: #000;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    border: none;
    cursor: pointer;
}

h4 {
    color: #000;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 66px;
}

.grey-conteiner {
    display: flex;
    justify-content: center;
    padding: 0 21%;
    margin-bottom: 150px;
    gap: 30px;
}

.grey-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
    background: #F7F7F7;
}

.grey-box img {
    width: 60px;
    height: 40px;
    margin-bottom: 30px;
}

.grey-box p {
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.42px;
    max-width: 172px;
}

.second-section .grey-conteiner:nth-of-type(2) {
    margin-bottom: 35px;
}

@media only screen and (min-width: 1201px) {
    .firstConteiner h1 {
        font-size: 64px;
    }

    .progect-conteiner,
    .grey-conteiner,
    .red-conteiner {
        padding: 0 21%;
    }

    .divConteiner {
        width: 58%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .firstConteiner h1 {
        font-size: 52px;
    }

    .progect-conteiner,
    .grey-conteiner,
    .red-conteiner {
        padding: 0 10%;
    }

    .divConteiner {
        width: 78%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 787px) {
    .firstConteiner h1 {
        font-size: 40px;
    }

    .progect-conteiner,
    .grey-conteiner,
    .red-conteiner {
        padding: 0 5%;
    }

    .divConteiner {
        width: 88%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .firstConteiner h1 {
        font-size: 28px;
    }

    .progect-conteiner,
    .grey-conteiner,
    .red-conteiner {
        padding: 0 2%;
    }

    .divConteiner {
        width: 92%;
    }
}